.header {
  display: flex;
  justify-content: end;
  margin: auto;
  max-width: 80%;
}

.navigation {
  position: absolute;
  right: 10%;
  top: calc(70vh + 169px - 52px);
  width: fit-content;
}

.menu {
  display: flex;
  gap: 4px;
}

.item {
  background-color: var(--gray);
  display: grid;
  place-items: center;
  padding: 8px 16px;
}
