---
import LinkedInIcon from "@/icons/LinkedInIcon.astro"
import GitHubIcon from "@/icons/GitHubIcon.astro"
import MailIcon from "@/icons/MailIcon.astro"
import BriefcaseIcon from "@/icons/BriefcaseIcon.astro"
import CodeIcon from "@/icons/CodeIcon.astro"
import ProfileIcon from "@/icons/ProfileIcon.astro"
import AboutMe from "@/components/AboutMe.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Badge from "@/components/Badge.astro"
import SocialPill from "@/components/SocialPill.astro"
import Experience from "@/components/Experience.astro"
import Projects from "@/components/Projects.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout
  title="Portafolio de Gabriela - Desarrollador y Programador Web con 6 años de experiencia"
>
  <main class="px-6">
    <SectionContainer class="pb-32 pt-16" id="inicio">
      <picture>
        <source media="(max-width: 640px)" srcset="logo-small.png" />
        <img src="/logo.png" alt="Logo personal" />
      </picture>

      <div class="flex items-center gap-4 pb-4">
        <img
          class="size-28 rounded-full"
          src="https://avatars.githubusercontent.com/u/29384714?v=4"
          alt="Foto de Gabriela"
        />

        <a
          class="flex transition hover:scale-105"
          href="https://www.linkedin.com/in/gparedesp/"
          rel="noopemer noreferrer"
          target="_blank"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </div>

      <h1
        class="flex items-center gap-x-4 pb-6 text-3xl font-bold md:text-4xl lg:pb-10 lg:text-5xl"
      >
        ¡Hola!, soy Gabriela
      </h1>

      <h2 class="text-xl lg:text-2xl">
        Ingeniera de Sistemas |
        <span class="text-red-400">Remote Frontend Developer</span>
        | JavaScript | ReactJs |
        <span class="text-red-400">+6 años de experiencia</span>
      </h2>

      <nav>
        <ul class="mt-8 flex flex-wrap gap-4">
          <li>
            <SocialPill href="https://www.linkedin.com/in/gparedesp/">
              <LinkedInIcon class="size-6" /> LinkedIn
            </SocialPill>
          </li>

          <li>
            <SocialPill href="https://github.com/gabiprds93">
              <GitHubIcon class="size-6" /> GitHub
            </SocialPill>
          </li>

          <li>
            <SocialPill href="mailto:gabrielaparedesp1993@gmail.com">
              <MailIcon class="size-6" /> gabrielaparedesp1993@gmail.com
            </SocialPill>
          </li>
        </ul>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="mb-6 flex items-center gap-3 text-3xl font-semibold">
        <BriefcaseIcon class="size-7" /> Experiencia Laboral
      </h2>

      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="mb-6 flex items-center gap-3 text-3xl font-semibold">
        <CodeIcon class="size-7" /> Proyectos
      </h2>

      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="mb-6 flex items-center gap-3 text-3xl font-semibold">
        <ProfileIcon class="size-7" /> Sobre mí
      </h2>

      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
