---
import Badge from '../components/Badge.astro'
import Layout from '../layouts/Layout.astro'
import LinkedInIcon from '../icons/LinkedIn.astro'
import GithubIcon from '../icons/Github.astro'
import MailIcon from '../icons/Mail.astro'
import SocialPill from '../components/SocialPill.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import BriefcaseIcon from '../icons/Briefcase.astro'
import CodeIcon from '../icons/Code.astro'
import Projects from '../components/Projects.astro'
import ProfileIcon from '@/icons/ProfileIcon.astro'
import AboutMe from '@/components/AboutMe.astro'
---

<Layout
  title='Portafolio de Gabriela - Desarrollador y Programador Web con 6 años de experiencia'
>
  <main class='px-6'>
    <SectionContainer class='pb-32 pt-16' id='inicio'>
      <img src='/logo.png' alt='Logo personal' />

      <img
        class='rounded-full size-12 mb-4'
        src='https://avatars.githubusercontent.com/u/29384714?v=4'
        alt='Foto de Gabriela'
      />

      <h1
        class='text-white text-3xl md:text-4xl lg:text-5xl font-bold flex items-center gap-x-4 pb-6 lg:pb-10'
      >
        ¡Hola!, soy Gabriela <a
          href='https://www.linkedin.com/in/gparedesp/'
          target='_blank'
          rel='noopemer noreferrer'
          class='flex hover:scale-105 transition'
        >
          <Badge>Disponible para trabajar</Badge></a
        >
      </h1>

      <h2 class='text-white text-xl lg:text-2xl opacity-80'>
        Ingeniera de Sistemas |
        <span class='text-red-400'>Remote Frontend Developer</span>
        | JavaScript | ReactJs |
        <span class='text-red-400'>+6 años de experiencia</span>
      </h2>

      <nav>
        <ul class='text-white flex flex-wrap gap-4 mt-8'>
          <li>
            <SocialPill href='https://www.linkedin.com/in/gparedesp/'>
              <LinkedInIcon class='size-4 md:size-6' /> LinkedIn
            </SocialPill>
          </li>

          <li>
            <SocialPill href='https://github.com/gabiprds93'>
              <GithubIcon class='size-4 md:size-6' /> Github
            </SocialPill>
          </li>

          <li>
            <SocialPill href='mailto:gabrielaparedesp1993@gmail.com'>
              <MailIcon class='size-4 md:size-6' /> gabrielaparedesp1993@gmail.com
            </SocialPill>
          </li>
        </ul>
      </nav>
    </SectionContainer>

    <SectionContainer id='experiencia'>
      <h2
        class='text-white text-3xl font-semibold mb-6 flex gap-3 items-center'
      >
        <BriefcaseIcon class='size-7' /> Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id='proyectos'>
      <h2
        class='text-white text-3xl font-semibold mb-6 flex gap-3 items-center'
      >
        <CodeIcon class='size-7' /> Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id='sobre-mi'>
      <h2
        class='text-white text-3xl font-semibold mb-6 flex gap-3 items-center'
      >
        <ProfileIcon class='size-7' /> Sobre mí
      </h2>

      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
