<article class="flex flex-col-reverse items-center gap-8 md:flex-row">
  <div
    class="text-pretty text-white [&>p>strong]:font-semibold [&>p>strong]:text-red-400 [&>p]:mb-4"
  >
    <p>
      Me llamo Gabriela. Tras un año de estudiar Odontología me di cuenta que mi
      verdadera pasión es la programación y la tecnología.
      <strong>
        Terminé mis estudios como Ingeniera de Sistemas y me especialicé en el
        Desarrollo de Frontend.
      </strong>
      Disfruto creando aplicaciones web para ofrecer la mejor experiencia a los usuarios.
    </p>
  </div>

  <img
    class="size-64 rounded-full"
    src="/me.jpeg"
    alt="Foto de mi en el tren"
  />
</article>
