---
import { EXPERIENCE } from '../constants'
import ExperienceItem from './ExperienceItem.astro'
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCE.map((experiencie) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
