---
import { EXPERIENCE } from "@/constants"
import ExperienceItem from "./ExperienceItem.astro"
---

<ol class="relative ml-3 border-s border-gray-200">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
