---
import { navItems } from "@/constants"
import LinkedInIcon from "@/icons/LinkedInIcon.astro"
import GitHubIcon from "@/icons/GitHubIcon.astro"

const currentYear = new Date().getFullYear()
---

<footer class="mx-6 my-10 rounded-lg bg-black/20 shadow backdrop-blur-lg">
  <div
    class="mx-auto flex w-full max-w-screen-xl flex-col items-center justify-between gap-4 p-4 sm:flex-row"
  >
    <ul
      class="flex flex-wrap items-center gap-4 text-sm font-medium text-white/90"
    >
      {
        navItems.map((link) => (
          <li>
            <a href={link.url} class="hover:underline">
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>

    <ul class="flex flex-wrap gap-4 text-white">
      <li>
        <a
          href="https://www.linkedin.com/in/gabrielaparedesp/"
          rel="noopener noreferrer"
          target="_blank"
          title="LinkedIn"
        >
          <LinkedInIcon class="size-6" />
        </a>
      </li>

      <li>
        <a
          href="https://github.com/gabiprds93"
          rel="noopener noreferrer"
          target="_blank"
          title="GitHub"
        >
          <GitHubIcon class="size-6" />
        </a>
      </li>
    </ul>

    <span class="text-sm text-orange-200">
      © {currentYear}

      <a
        href="https://www.linkedin.com/in/gabrielaparedesp/"
        class="hover:underline"
        rel="noopener noreferrer"
        target="_blank"
      >
        Gabriela Paredes
      </a>
    </span>
  </div>
</footer>
