---
import { navItems } from '@/constants'
import LinkedIn from '@/icons/LinkedIn.astro'
import Github from '@/icons/Github.astro'

const currentYear = new Date().getFullYear()
---

<footer class='rounded-lg shadow bg-black/20 backdrop-blur-lg mx-6 my-10'>
  <div
    class='w-full mx-auto max-w-screen-xl p-4 flex flex-col sm:flex-row items-center justify-between gap-4'
  >
    <ul
      class='flex flex-wrap items-center text-sm font-medium text-white/90 gap-4'
    >
      {
        navItems.map((link) => (
          <li>
            <a href={link.url} class='hover:underline'>
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>

    <ul class='text-white flex flex-wrap gap-4'>
      <li>
        <a
          href='https://www.linkedin.com/in/gparedesp/'
          rel='noopener noreferrer'
          target='_blank'
          title='LinkedIn'
        >
          <LinkedIn class='size-6' />
        </a>
      </li>

      <li>
        <a
          href='https://github.com/gabiprds93'
          rel='noopener noreferrer'
          target='_blank'
          title='GitHub'
        >
          <Github class='size-6' />
        </a>
      </li>
    </ul>

    <span class='text-sm text-orange-200'>
      © {currentYear}

      <a
        href='https://www.linkedin.com/in/gparedesp/'
        class='hover:underline'
        rel='noopener noreferrer'
        target='_blank'
      >
        Gabriela Paredes
      </a>
    </span>
  </div>
</footer>
