<header class='flex py-5 mx-auto'>
  <nav>
    <ul class='text-white flex gap-x-10 opacity-80'>
      <li>
        <a href='/#top'>Inicio</a>
      </li>

      <li>
        <a href='/#experiencia'>Experiencia</a>
      </li>

      <li>
        <a href='/#proyectos'>Proyectos</a>
      </li>

      <li>
        <a href='/#sobre-mi'>Sobre mí</a>
      </li>

      <li>
        <a href='/#contacto'>Contacto</a>
      </li>
    </ul>
  </nav>
</header>
