---
import { navItems } from '@/constants'
---

<header
  class='flex mx-auto fixed z-10 bg-black/80 left-0 right-0 justify-center'
>
  <nav>
    <ul class='text-white flex gap-0 sm:gap-10 px-2'>
      {
        navItems.map((link) => (
          <li>
            <a
              class='block p-3 transition hover:text-red-400 text-center'
              aria-label={link.label}
              href={link.url}
            >
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const sectionElements = document.querySelectorAll('section')
  const linkElements = document.querySelectorAll('header nav ul li a')
  const callback = (entries: IntersectionObserverEntry[]) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        linkElements.forEach((item) => {
          if (item.getAttribute('aria-label') === entry.target.id) {
            item.classList.add('text-red-400')
          } else {
            item.classList.remove('text-red-400')
          }
        })
      }
    })
  }
  const observer = new IntersectionObserver(callback, { threshold: 0.4 })

  sectionElements.forEach((section) => {
    observer.observe(section)
  })

  // Cleanup function
  document.onvisibilitychange = () => {
    if (document.visibilityState === 'hidden') {
      observer.disconnect()
    } else {
      sectionElements.forEach((section) => {
        observer.observe(section)
      })
    }
  }
</script>
